# https://github.com/dependabot/fetch-metadata?tab=readme-ov-file#enabling-auto-merge
name: Dependabot auto-merge
on: pull_request
permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      # dependabot/fetch-metadata Action will set a failure code if it cannot find any metadata
      - id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2
      - run: gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
