# https://github.com/dependabot/fetch-metadata/blob/main/.github/workflows/dependabot-auto-merge.yml
name: Dependabot auto-merge
on: pull_request
#permissions:
#  contents: write
#  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - run: gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
